* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .image
  {
    width: 10%;
    height: 10%

  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }